/*body{*/
    /*background-image: url("1.jpg");*/
/*}*/
/*body{*/
    /*background-image: url("1.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*background-size: 100px 100px;*/
    /*right和center*/
/*}*/
#MyDIV
{
    height: 800px;
    padding:25px;
    border:10px dotted #000000;
    background-image:url('1.jpg');
    background-origin:padding-box;
    background-repeat:no-repeat;
}

#MyDIV1
{
    padding:25px;
    border:10px dotted #000000;
    background-color:yellow;
    background-clip:border-box;
}